# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/

# Environment variables
.env

# Spotify cache
.spotify_cache
.cache

# Images generated at runtime
cover.jpg

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Python cache
.pytest_cache/

# OS files
Thumbs.db
